<% provide(:title, "#{@season.year} Season") %>

<div class="event-banner">
  <div class="current-event">
    <div class="event-info">
      <p>Current Event (Ends <%= @season.current_event.end_date.strftime("%m/%d/%Y") %>)</p>
      <h3><%= link_to "#{@season.current_event.tournament_name} @ #{@season.current_event.course_name}", @season.current_event %></h3>
    </div>
  </div>
  <% if @season.next_event %>
    <div class="next-event">
      <p>Next up: <%= "#{@season.next_event.tournament_name} @ #{@season.next_event.course_name}" %></p>
    </div>
  <% else %>
    <div class="next-event">
      <p>Next up: <%= link_to @season.ryder_cup.name, @season.ryder_cup %></p>
    </div>
  <% end %>
</div>

<div class="table-container">
  <div class="table-info">
    <h3>BTGA Standings</h3>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <th>POS</th>
        <th>Golfer</th>
        <th>Points</th>
        <th>Events</th>
        <th>Wins</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @seasons.all.each do |season| %>
          <tr>
            <td><%= i %></td>
            <td><%= season.name %></td>
            <td><%= season.points %></td>
            <td><%= season.events %></td>
            <td><%= season.wins %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>