<% provide(:title, "#{@season.year} Season") %>

<% if @active_stories.count > 0 %>
  <div class="news-banner">
    <div class="story-container">
      <p>Headlines</p>
      <h4 id="headline-text"><%= @active_stories.first.story %></h4>
    </div>
    <%= link_to "+", new_headline_path, class:"button"%>
  </div>
<% end %>

<div class="event-banner">
  <div class="current-event">
    <div class="event-info">
      <% if @current_event %>
        <p>Current Event (Ends <%= @current_event.formatted_end_date %>)</p>
        <h3><%= link_to "#{@current_event.tournament_name} @ #{@current_event.course_name}", @current_event %></h3>
      <% end %>
    </div>
  </div>
  <% if @next_event %>
    <div class="next-event">
      <p>Next up: <%= "#{@next_event.tournament_name} @ #{@next_event.course_name}" %></p>
    </div>
  <% elsif @season.ryder_cup %>
    <div class="next-event">
      <p>Next up: <%= link_to @season.ryder_cup.name, ryder_cup_path(@season.year) %></p>
    </div>
  <% end %>
  <%= link_to "View Full Schedule", schedule_path(@season.year), id: "schedule-link" %>
</div>

<div class="table-container">
  <div class="table-info">
    <h3>BTGA Standings</h3>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <th>POS</th>
        <th>Golfer</th>
        <th>Points</th>
        <th>Events</th>
        <th>Wins</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @seasons.all.each do |season| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to season.name, season.golfer, class: "block-link" %></td>
            <td><%= season.points %></td>
            <td><%= season.events %></td>
            <td><%= season.wins %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="button-container nav-button-container">
  <%= link_to "Previous Season", @previous_season, class: "button previous-button"  if @previous_season %>
  <%= link_to "Next Season", @next_season, class: "button next-button" if @next_season %>
</div>

<script>
  let headlines = <%= @active_stories.to_json.to_s.html_safe %>;
  let i = 1;
  
  function scrollText(headlines, i){
    document.getElementById("headline-text").innerText = headlines[i]["story"]
  };
  
  if (document.getElementById("headline-text")) {
    setInterval( function() { 
      scrollText(headlines, i);
      if (i >= headlines.length - 1){
        i=0;
      } else {
        i++;
      }
    }, 5000);
  } else {
    console.log("No headline available.")
  }
</script>