<% provide(:title, @event.tournament_name) %>

<div class="table-container">
  <div class="leaderboard-info">
    <div class="event-info">
      <h3><%= link_to @event.tournament_name, @event.tournament %></h3>
      <p><%= "#{@event.course_name} • #{@event.start_date.strftime("%m/%d/%Y")}" %></p>
    </div>
    <% if @event.current_round < 3 %>
      <%= link_to 'Generate Matchups', generate_matchups_path(@event) %>
    <% else %>
      <%= link_to 'Finalize Event', finalize_match_play_path(@event) %>
    <% end %>
  </div>
  <div class="table-wrapper">
    <h3 class="match-play-subhead">Round 1 Matchups</h3>
    <table class="match-play-matchups leaderboard">
      <%= render 'matchup_th' %>
      <tbody>
        <% @round_one_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
      </tbody>
    </table>
    <h3 class="match-play-subhead">Round 2 Matchups</h3>
    <table class="match-play-matchups leaderboard">
      <%= render 'matchup_th' %>
      <tbody>
        <tr>
          <th colspan=5 class="bracket-title">Winners Bracket</th>
        </tr>
        <% @round_two_winner_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
        <tr>
          <th colspan=5 class="bracket-title">Losers Bracket</th>
        </tr>
        <% @round_two_losers_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
      </tbody>
    </table>
    <h3 class="match-play-subhead">Finals</h3>
    <table class="match-play-matchups leaderboard">
      <%= render 'matchup_th' %>
      <tbody>
        <tr>
          <th colspan=5 class="bracket-title">Finals</th>
        </tr>
        <%= render 'matchup_row', matchup: @championship if @championship %>
        <tr>
          <th colspan=5 class="bracket-title">3rd Place</th>
        </tr>
        <%= render 'matchup_row', matchup: @third_place  if @third_place %>
        <tr>
          <th colspan=5 class="bracket-title">5th Place</th>
        </tr>
        <%= render 'matchup_row', matchup: @fifth_place if @fifth_place %>
        <tr>
          <th colspan=5 class="bracket-title">7th Place</th>
        </tr>
        <%= render 'matchup_row', matchup: @seventh_place if @seventh_place %>
      </tbody>
    </table>
  </div>
</div>
  