<% provide(:title, @event.tournament_name) %>

<div class="table-container">
  <div class="leaderboard-info">
    <div class="event-info">
      <h3><%= link_to @event.tournament_name, @event.tournament %></h3>
      <p><%= "#{@event.course_name} • #{@event.start_date.strftime("%m/%d/%Y")}" %></p>
    </div>
    <%= link_to 'Generate Matchups', generate_matchups_path(@event) %>
  </div>
  <div class="table-wrapper">
    <h3 class="match-play-subhead">Round 1 Matchups</h3>
    <table class="match-play-matchups leaderboard">
      <thead>
        <tr>
          <th>Seed</th>
          <th>Favorite</th>
          <th>Seed</th>
          <th>Underdog</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <% @round_one_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
      </tbody>
    </table>
    <h3 class="match-play-subhead">Round 2 Matchups</h3>
    <table class="match-play-matchups leaderboard">
      <thead>
        <tr>
          <th>Seed</th>
          <th>Favorite</th>
          <th>Seed</th>
          <th>Underdog</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan=5 class="bracket-title">Winners Bracket</th>
        </tr>
        <% @round_two_winner_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
        <tr>
          <th colspan=5 class="bracket-title">Losers Bracket</th>
        </tr>
        <% @round_two_losers_matchups.each do |matchup| %>
          <%= render 'matchup_row', matchup: matchup %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  