<% provide(:title, 'Schedule') %>

<div class="table-container">
  <div class="table-info">
    <h3><%= @season.year %> Schedule</h3>
    <%= link_to 'New Tournament', new_season_tournament_path(:season => @season.year) %>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Event</th>
          <th>Course</th>
          <th>Rounds</th>
          <th>Champion</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @events.all.each do |event| %>
          <tr class=<%= event.event_level %>>
            <td><%= event.start_date.strftime('%m/%d/%Y') %></td>
            <td><%= event.type_stub %></td>
            <td><%= link_to event.tournament_name, event, class: "block-link" %></td>
            <td><%= event.course_name %></td>
            <td><%= event.rounds %></td>
            <td><%= event.display_winners %></td>
            <td><%= link_to 'Edit', edit_season_tournament_path(event) %> | 
                <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="button-container nav-button-container">
  <%= link_to "Previous Season", schedule_path(@previous_season), class: "button previous-button"  if @previous_season %>
  <%= link_to "Next Season", schedule_path(@next_season), class: "button next-button" if @next_season %>
</div>