<%= form_for(@course) do |form| %>

  <% if @course.errors.any? %>
    <div id="error-explanations">
      <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-field', id: :course_name %>
  </div>
  
  <div class="field">
    <%= form.label :yardage %>
    <%= form.number_field :yardage, class: 'form-field', id: :course_yardage %>
  </div>
  
  <div class="field">
    <%= form.label :par %>
    <%= form.number_field :par, class: 'form-field', id: :course_name %>
  </div>
  
  <div class="field">
    <%= form.label :difficulty %>
    <%= form.select :difficulty, Course.difficulty_options, {}, {class: 'form-field', id: :course_difficulty} %>
  </div>
  
  <div class="field">
    <%= form.label :star_rating %>
    <%= form.number_field :star_rating, class: 'form-field', id: :course_star_rating %>
  </div>
  
  <div class="submit">
    <%= form.submit yield(:button_text), class: 'button submit-button' %>
  </div>
  
<% end %>