<% provide(:title, 'Courses') %>

<div class="table-container">
  <div class="table-info">
    <h3>BTGA Course List</h3>
    <%= link_to 'New Course', new_course_path %>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th>Course</th>
          <th>Par</th>
          <th>Yardage</th>
          <th>Difficulty</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.all.each do |course| %>
          <tr>
            <td><%= link_to course.name, course %></td>
            <td><%= course.par %></td>
            <td><%= course.yardage %></td>
            <td><%= course.difficulty %></td>
            <td><%= course.star_rating %></td>
            <td><%= link_to 'Edit', edit_course_path(course) %> | 
                <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>