<% provide(:title, @session.name) %>

<div class="table-container">
  <div class="table-info">
    <div class="event-info">
      <h3><%= @session.name %></h3>
      <p><%= @session.course_name %></p>
    </div>
    <%= link_to 'New Round', new_ryder_cup_session_ryder_cup_round_path(@session) %>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th class="usa">PTS</th>
          <th class="usa">USA</th>
          <th class="usa">Score</th>
          <th class="europe">Score</th>
          <th class="europe">Europe</th>
          <th class="europe">PTS</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.all.each do |round| %>
          <tr>
            <td><%= round.usa_points %></td>
            <td><%= round.usa_golfers %></td>
            <td><%= round.usa_score %></td>
            <td><%= round.europe_score %></td>
            <td><%= round.europe_golfers %></td>
            <td><%= round.europe_points %></td>
            <td><%= link_to "Edit", edit_ryder_cup_session_ryder_cup_round_path(@session, round) %> |
                <%= link_to "Delete", [@session, round], method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="button-container">
  <%= link_to "Back to #{@ryder_cup.name}", ryder_cup_path(@season.year), class: "button finalize-button" %>
</div>