<% provide(:title, @ryder_cup.name) %>

<h1 id="ryder-cup-banner"><%= @ryder_cup.name %></h1>
<div class="ryder-cup-rosters">
  <div class="table-container" id="team-usa-roster">
    <div class="table-info">
      <h3>Team USA</h3>
    </div>
    <div class="table-wrapper">
      <table class="index-table">
        <% @team_usa.golfers.order(:handicap).each do |golfer| %>
          <tr>
            <td><%= golfer.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  <div class="table-container" id="team-europe-roster">
    <div class="table-info">
      <h3>Team Europe</h3>
    </div>
    <div class="table-wrapper">
      <table class="index-table">
        <% @team_europe.golfers.order(:handicap).each do |golfer| %>
          <tr>
            <td><%= golfer.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="table-container">
  <div class="table-info">
    <h3>Scorecard</h3>
  </div>
  <div class="table-wrapper">
    <table class="index-table">
      <thead>
        <tr>
          <th>Team</th>
          <% i = 1 %>
          <% @sessions.each do |session| %>
            <th><%= link_to "S#{i}", ryder_cup_session_path(session) %></th>
            <% i += 1 %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Team USA</td>
          <% @sessions.each do |session| %>
            <td><%= session.team_usa_score %></td>
          <% end %>
        </tr>
        <tr>
          <td>Team Europe</td>
          <% @sessions.each do |session| %>
            <td><%= session.team_europe_score %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>