<header id="site-header">
  <div class="container">
    <div class="navbar">
      <h1 id="header-logo"><%= link_to 'BTGA', root_url %></h1>
      <ul class="navbar-right desktop-navbar">
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Golfers', roster_path %></li>
      </ul>
      <a class="navbar-toggle icon" id="mobile-navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="mobile-header-container">
      <ul id="mobile-navbar">
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Golfers', roster_path %></li>
      </ul>
    </div>
  </div>
</header>