  <li><%= link_to 'Schedule', schedule_path(Season.current_year) %></li>
  <li><%= link_to "President's Cup", ryder_cup_path(2021) %></li>
  <li><%= link_to 'Courses', courses_path %></li>
  <li><%= link_to 'Roster', roster_path %></li>
  <li><%= link_to 'Tournaments', tournaments_path %></li>